<section class="w-full pt-20 border-t-blue-600" id="home">
  <h2
    class="text-4xl text-center sm:text-5xl md:text-5xl font-bold leading-tight"
  >
    THE STORY BEHIND
    <span class="text-blue-600">JOHN JESTER SALEN</span>
  </h2>
  <p
    class="mt-8 max-w-4xl mx-auto text-center text-gray-600 text-lg sm:text-xl leading-relaxed px-4"
  >
    My mission is to deliver comprehensive solutions that are beautifully
    designed, efficiently coded, and physically intelligent.
  </p>

  <div class="w-full flex flex-col sm:flex-col md:flex-col lg:flex-row">
    <div
      class="p-5 pe-0 w-[100%] sm:w-[100%] md:w-[100%] lg:w-[30%] flex justify-center items-center"
    >
      <img
        src="/jester.png"
        class="w-[80%] md:w-[70%] lg:w-[100%] lg:rounded-tl-[50%] lg:rounded-br-[50%]"
        alt=""
      />
    </div>
    <div
      class="w-[100%] flex justify-center items-center sm:w-[100%] md:w-[100%] lg:w-[70%]"
    >
      <p class="text-justify lg:p-20 p-10 lg:ps-10 sm:ps-5 md:ps-20 text-xl">
        My development journey began on <span
          class="text-blue-600 font-semibold">Java Console programming</span
        >, which instilled a deep understanding of core programming logic,
        algorithms, and efficient code architecture. This foundational
        discipline is the backbone of every project I undertake. I expanded this
        logic into the functional domains of <span
          class="text-blue-600 font-semibold">Web Development</span
        > and <span class="text-blue-600 font-semibold"
          >Mobile Application Development
        </span>, focusing on creating seamless user experiences. Finally, my
        curiosity led me to <span class="text-blue-600 font-semibold"
        ></span>Embedded Systems and IoT, completing the spectrum.
      </p>
    </div>
  </div>
</section>
