<div class="w-full p-3 pt-5 sm:px-[200px] flex">
    <h2 class="text-red-500 font-bold font-display w-[15%]">JESTER SALEN</h2>
    <ul class="flex justify-evenly items-center w-[85%]">
        <li class="hover:text-red-400"><a href=""   class="hover:text-red-400 hover:underline underline-offset-8 duration-300 ease-in-out">HOME</a></li>
          <li class="hover:text-red-400"><a href="#academics" class="hover:text-red-400 hover:underline underline-offset-8 duration-300 ease-in-out">ABOUT</a></li>
          <li class="hover:text-red-400"><a href="#awards" class="hover:text-red-400 hover:underline underline-offset-8 duration-300 ease-in-out">PROJECTS</a></li>
          <li class="hover:text-red-400"><a href="#contact" class="hover:text-red-400 hover:underline underline-offset-8 duration-300 ease-in-out">CONTACT</a></li>
    </ul>
</div>